body{
    background-color: whitesmoke;
}
.navbar{
    background-color: #B92B27;
    color: white;
}
.container{
    margin-bottom: 55px;
}
.navbar a{
    color: white;
}
.navbar button i{
    
    color: white;
}
.navbar a:hover{
    color: black;
}
h1{
    text-align: center;
    color: rgb(165, 14, 9);
}
.btn{
    color: white;
    background-color: #B92B27;
}
.btn:hover{
    color: black;
    background-color: rgb(165, 14, 9);
}
.card{
    padding: 10px;
}
hr{
    width: 80%;
    border: 0.5px solid #B92B27;
}
.form-control:focus{
    border: 0.4px solid #B92B27;
    box-shadow: 2px 2px 2px 2px #B92B27;
}

.invitaion{
    border:  1px solid #B92B27;
    padding: 10px;
    border-radius: 5px;
    background-color: white;

}
.invitaion p{
text-align: start;
font-family: sans-serif;
}
.invitaion h3{
text-align: center;
font-family: serif;
}
.invitaion footer{
text-align: center;
font-family: sans-serif;
}
.invitaion:hover{
box-shadow: 5px 5px 5px 5px #B92B27;
}
.invitaion hr{
    width: 50%;
    color:rgb(165, 14, 9);
}
.invitaion:hover hr{
    width: 90%;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover a{
    text-decoration: none;
    color: black;
}
.card {
    width: 100%;
    max-width: 650px;
    margin: auto;
    border: 1px solid #B92B27;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px silver;


}
